.matchs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 250px;
    padding: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: whitesmoke;
    transition: 300ms;
}

.matchs:hover {
    scale: 1.01;
}

.img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid #4ECDC4;
    justify-self: center;
}

.matchLogo {
    justify-self: center;
    align-self: center;
    width: 40px;
    height: auto;
    opacity: 50%;
}