.topContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.tile1 {
  display: grid;
  width: 200px;
  height: 150px;
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.3);
  border-radius: 10px;
}

.newUsers {
  font-size: 36px;
  color: rgb(150, 222, 42);
  margin: 0;
}

.tile2 {
  display: grid;
  width: 200px;
  height: 150px;
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.3);
  border-radius: 10px;
}

.delUsers {
  font-size: 36px;
  color: red;
  margin: 0;
}

.tile3 {
  display: grid;
  width: 200px;
  height: 150px;
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.3);
  border-radius: 10px;
}

.publications {
  font-size: 36px;
  color: aqua;
  margin: 0;
}

.tile4 {
  display: grid;
  width: 200px;
  height: 150px;
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.3);
  border-radius: 10px;
}

.matchs {
  font-size: 36px;
  color: orange;
  margin: 0;
}

.tile5 {
  display: grid;
  width: 200px;
  height: 150px;
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.3);
  border-radius: 10px;
}

.premium {
  font-size: 36px;
  color: blueviolet;
  margin: 0;
}

.filters {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.filters select {
  border: none;
  outline: none;
  margin: 10px;
  border-radius: 5px;
}

.bottomContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  margin-top: 30px;
  justify-self: center;
  margin-bottom: 100px;
}

.column1 {
  display: grid;
  width: 500px;
  height: fit-content;
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.3);
  border-radius: 10px;
}

.column1 img {
  justify-self: center;
}

.column1 h4 {
  text-align: left;
  margin: 15px;
  background-color: rgba(128, 128, 128, 0.3);
  padding-left: 10px;
  border-radius: 5px;
}

.column2 {
  display: grid;
  width: 500px;
  height: auto;
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.3);
  border-radius: 10px;
}

.column2 h4 {
  text-align: left;
  margin: 15px;
  background-color: rgba(0, 149, 255, 0.3);
  padding-left: 10px;
  border-radius: 5px;
}

/* Los estilos de 'element' los agregó Agus, borrar o modificar cuando sea necesario. */

.element {
  display: grid;
  grid-template-columns: 2fr 5fr 1fr 1fr 1fr 1fr;
  align-items: center;
}

.element span {
  width: fit-content;
}

button:disabled img {
  filter: grayscale(100%);
}
