.topContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.tile1 {
  display: grid;
  width: 200px;
  height: 150px;
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.3);
  border-radius: 10px;
}

.newUsers {
    font-size: 24px;
    color: greenyellow;
}

.tile2 {
  display: grid;
  width: 200px;
  height: 150px;
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.3);
  border-radius: 10px;
}

.delUsers {
    font-size: 24px;
    color: red;
}

.tile3 {
  display: grid;
  width: 200px;
  height: 150px;
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.3);
  border-radius: 10px;
}

.publications {
    font-size: 24px;
    color: aqua;
}

.tile4 {
  display: grid;
  width: 200px;
  height: 150px;
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.3);
  border-radius: 10px;
}

.matchs {
    font-size: 24px;
    color: orange;
}

.tile5 {
  display: grid;
  width: 200px;
  height: 150px;
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.3);
  border-radius: 10px;
}

.premium {
    font-size: 24px;
    color: blueviolet;
}

.filters {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.filters select {
    border: none;
    outline: none;
    margin: 10px;
    border-radius: 5px;
}

.bottomContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 30px;
  justify-self: center;
}

.column1 {
  display: grid;
  width: 500px;
  height: auto;
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.3);
  border-radius: 10px;
}

.column1 h4 {
    text-align: left;
    margin: 15px;
    background-color: rgba(128, 128, 128, 0.3);
    padding-left: 10px;
    border-radius: 5px;
}

.column2 {
  display: grid;
  width: 500px;
  height: auto;
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.3);
  border-radius: 10px;
}

.column2 h4 {
    text-align: left;
    margin: 15px;
    background-color: rgba(0, 149, 255, 0.3);
    padding-left: 10px;
    border-radius: 5px;
}
