.container {
  display: grid;
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.3);
  border-radius: 10px;
  margin-top: 20px;
  width: 250px;
  justify-self: center;
}

.container ul {
  display: grid;
  justify-self: center;
  list-style: none;
  padding: 10px;
  margin: 0px;
}

.container li {
  display: grid;
  align-self: center;
  grid-template-columns: 1fr 2fr;
}

.container h3 {
  align-self: center;
}

.container h4 {
  white-space: nowrap;
  overflow: hidden;
}

.container img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid grey;
}
