@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');

:root {
  font-family: "DM Sans", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  cursor: pointer;
  display: grid;
  color: whitesmoke;
  text-decoration: inherit;
  justify-content: center;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: whitesmoke;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 5px;
  border: 2px solid transparent;
  padding-top: 5px;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(0,0,0,0);
  color: black;
  cursor: pointer;
  transition: 300ms;
}

button:active {
  animation-name: push; 
  animation-duration: 1000ms; 
  animation-iteration-count: 1;
}

@keyframes push {
  0% {
    scale: 1;
  }
  50% {
    scale: 0.8;
  }
  100% {
    scale: 1;
  }
}


