.detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-self: center;
  width: 800px;
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.3);
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 100px;
}

.carousel {
  justify-self: center;
  width: 300px;
  border-radius: 10px;
  
}

.detail img {
  width: 300px;
  height: 400px;
  border-radius: 10px;
  object-fit: cover;
}

.detail h3 {
  font-size: 20px;
  color: grey;
}

.detail h4 {
  display: grid;
  font-size: 14px;
  color: grey;
  width: 75%;
  align-self: center;
  justify-self: center;
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.2);
  border: 1px solid #4ecdc4;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 5px;
  margin-top: 30px;
  margin-bottom: -5px;
  text-align: left;
}

.detail span {
  font-size: 14px;
  width: 305px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  border-radius: 5px;
  text-align: left;
  margin-left: 45px;
  margin-bottom: -30px;
  color: whitesmoke;
  background-color: rgba(126, 126, 126, 0.5);
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.2);
}

.info {
  display: grid;
  margin-top: 30px;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.detail .back {
  justify-self: center;
  margin-bottom: 30px;
  margin-top: 30px;
  background-color: #ff6b6b;
  width: 80px;
  color: whitesmoke;
  font-size: 14px;
  padding: 5px;
}

.detail .match {
  justify-self: center;
  margin-bottom: 30px;
  margin-top: 30px;
  background-color: #4ecdc4;
  width: 80px;
  color: whitesmoke;
  font-size: 14px;
  padding: 5px;
}

@media (max-width: 768px) {
  .detail {
    width: 330px;
    margin-bottom: 100px;
    grid-template-columns: 1fr;
  }

  .carousel {
    width: 250px;
  }

  .detail img {
    width: 250px;
    height: 300px;
  }

  .detail h4 {
    margin-top: 5px;
  }

  .detail span {
    display: grid;
    margin: 0;
    margin-top: 10px;
    margin-left: 35px;
    width: 255px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
