.container {
  display: grid;
  justify-content: center;
  justify-self: center;
  text-align: left;
  width: fit-content;
  height: fit-content;
  margin-top: 30px;
  margin-bottom: 100px;
  border-radius: 10px;
  transition: 300ms;
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.3);
}

.container h3 {
  text-align: center;
  color: gray;
  margin-bottom: 50px;
}

.container h6 {
  border: 2px solid rgba(128, 128, 128, 0.3);
  color: gray;
  text-align: center;
  padding-top: 17px;
  height: 30px;
  margin: 0;
  border-radius: 5px;
}
.container textarea {
  height: 60px;
}

.create {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  grid-template-columns: repeat(1fr, 7);
  color: rgb(0, 0, 0);
  font-size: x-large;
  font-weight: bolder;
}

.create select {
  display: grid;
  width: 243px;
  height: 31px;
  margin-left: 30px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  color: gray;
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.2);
  outline: none;
}

label {
  display: grid;
  margin-left: 30px;
  margin-right: 30px;
  width: auto;
  font-size: 12px;
  color: grey;
}

.input {
  margin-bottom: 20px;
  width: 235px;
  height: 30px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  align-self: center;
  padding-left: 10px;
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.2);
  outline: none;
  font-family: "DM Sans";
}

.img {
  font-size: 12px;
}

.button {
  background-color: #4ecdc4;
  width: 100px;
  padding: 5px;
  margin: 15px;
  box-shadow: 0px 5px 10px rgba(125, 125, 125, 0.3);
  color: whitesmoke;
  font-size: 14px;
  justify-self: center;
}

.files {
  display:inline-table;
  margin-bottom: 20px;
  padding-top: 7px;
  width: 248px;
  height: 25px;
  text-align: center;
  box-shadow: 0px 5px 10px rgba(124, 124, 124, 0.2);
  background-color: white;
  border-radius: 5px;
}

.container p {
  margin: 0;
  font-size: 10px;
  padding: 10px;
  text-align: center;
  color: gray;
  justify-self: center;
  border: 2px solid rgba(128, 128, 128, 0.3);
  border-radius: 5px;
  transition: 200ms;
}

.container h5 {
  justify-self: center;
  font-size: 10px;
  color: grey;
}

.container p:hover {
  background-color: #1a535c;
  color: whitesmoke;
}

@media (max-width: 768px) {
  .create {
    grid-template-columns: 1fr;
  }

  .create select {
    width: 250px;
  }

  .create option {
    text-align: left;
  }
}
