.card {
  width: 200px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.3);
  box-shadow: 0px 0px 40px 20px  rgba(0, 0, 0, 0.7) inset;
  margin: 10px;
}

.card img {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card a {
  justify-content: left;
  margin-left: 10px;
}

.card p {
  color: whitesmoke;
  text-shadow: 0px 5px 5px black;
  margin: 0;
  text-align: left;
  margin-top: -50px;
}

.card h6 {
  color: whitesmoke;
  text-shadow: 0px 5px 5px black;
  text-align: left;
  margin: 0;
  margin-top: -30px;
}

@media (max-width: 768px) {
  .card {
    width: 250px;
    height: 300px;
  }

  .card p {
    top: 260px
  }

  .card h6 {
    top: 280px
  }
}
