.publication {
  display: grid;
  width: 250px;
  grid-template-columns: 1fr 2fr 1fr 0.5fr;
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.3);
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  justify-self: center;
}

.img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid grey;
  object-fit: cover;
}

.publication h3 {
  text-align: center;
  font-size: 12px;
  align-self: center;
  color: rgb(45, 45, 45);
}

.publication .trash {
  opacity: 75%;
}

.publication .trash:hover {
  opacity: 90%;
}
