.loading {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 300px;
    height: 150px;
    background-color: whitesmoke;
    box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.3);
    border-radius: 10px;
    align-content: center;
    justify-content: center;
    margin-top: 150px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.loading h1 {
    font-size: 14px;
}

.loading img {
    display: grid;
    justify-self: center;
    align-self: center;
}

.loading button {
    color: whitesmoke;
    background-color: #4ECDC4;
    width: 120px;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
    justify-self: center;
    box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.2);
}