.modaloverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modalcontent {
  display: grid;
  background-color: whitesmoke;
  padding: 80px;
  padding-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modalcontent h2 {
  margin: 0;
  margin-bottom: 30px;
}

.modalcontent p {
  margin: 0px;
  color: grey;
  white-space: nowrap;
}

.modalcontent h6 {
  color: grey;
  margin-top: 10px;
}

.pay {
  margin-top: 50px;
  background-color: goldenrod;
  color: whitesmoke;
  width: 100px;
  font-size: 13px;
  justify-self: center;
  padding-bottom: 5px;
  box-shadow: 0px 5px 10px rgba(128, 127, 127, 0.3);
}

.close {
  margin-top: -100px;
  margin-right: -400px;
  color: red;
}

@media (max-width: 768px) {
.modaloverlay {
  width: 100%;
}

  .modalcontent {
    width: 100%;
    padding: 20px;
    justify-self: center;
  }

  .close {
    margin-right: -270px;
    margin-top: -20px;
  }

  .modalcontent p {
    font-size: 12px;
  }
}
