.container {
  background-color: black;
  position: relative;
}

.button {
  display: grid;
  position: absolute;
  justify-self: center;
}

.open {
  position: absolute;
  margin-left: 30px;
}

@media (max-width: 768px) {
  .open {
    margin-top: 68px;
    margin-left: 10px;
    opacity: 50%;
  }
}
