.myProfile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 100px;
}

.avatar {
  display: grid;
  height: 300px;
}

.publications {
  display: grid;
  align-content: flex-start;
  width: 300px;
  height: fit-content;
  box-shadow: 0px 5px 10px rgba(127, 126, 126, 0.3);
  border-radius: 10px;
  padding: 30px;
  justify-self: right;
}

.publicationsPremium {
  display: grid;
  align-content: flex-start;
  width: 300px;
  height: fit-content;
  box-shadow: 0px 5px 10px rgba(127, 126, 126, 0.3);
  border: 2px solid goldenrod;
  border-radius: 10px;
  padding: 30px;
  justify-self: right;
}

.agregar {
  background-color: #4ecdc4;
  color: whitesmoke;
  width: 90px;
  font-size: 14px;
  padding-bottom: 5px;
  margin-top: 20px;
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.3);
}

.publications h3 {
  color: rgb(95, 95, 95);
  margin: 0;
}

@media (max-width: 768px) {
  .myProfile {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }

  .avatar {
    width: 300px;
    justify-self: center;
  }

  .publications {
    display: grid;
    justify-self: center;
    padding: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 90px;
    width: 300px;
    margin-bottom: 100px;
  }

  .publicationsPremium {
    display: grid;
    justify-self: center;
    padding: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 90px;
    width: 300px;
    margin-bottom: 100px;
  }
}
