.filters {
    display: grid;
    grid-template-columns: 150px 70px 150px;
    gap: 30px;
    justify-content: center;
    margin-bottom: 20px;
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid black;
}

select {
  border: none;
  outline: none;
  background-color: whitesmoke;
  width: 100px;
  height: 40px;
  font-size: 18px;
  justify-self: center;
  align-self: center;
}

@media (max-width: 768px) {
  .avatar {
    width: 50px;
    height: 50px;
  }

  .filters {
    margin-top: 0;
    grid-template-columns: 100px 60px 100px;
  }
}
