.filters {
    display: grid;
    grid-template-columns: 75px 75px 100px 100px 100px 50px;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;margin-top: 50px;
    border-radius: 10px;
  }

  .product {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid grey;
    object-fit: cover;
  }

  span {
    align-self: center;
    font-size: 18px;
    color: grey;
  }

  .filters select {
    border-radius: 5px;
    outline: none;
    background-color: whitesmoke;
    width: 100px;
    height: 30px;
    font-size: 16px;
    justify-self: center;
    align-self: center;
    color: grey;
    border: none;
  }

  @media (max-width: 768px) {
    .product {
      width: 40px;
      height: 40px;
    }

    .filters {
      justify-self: center;
      width: 340px;
      margin-top: 20px;
      padding: 5px;
      gap: 5px;
      grid-template-columns: 50px 75px 75px 75px 40px;
      background-color: #FFE66D;
    }

    option {
      text-align: right;
      max-width: fit-content;
    }

    span {
      display: none;
    }

    .filters select {
      width: 80px;
      font-size: 10px;
      border: none;
      background-color: #FFE66D;
    }
  }