.paginationContainer {
    display: flex;
    justify-content: center;
    margin-top: 0px;
  }
  
  .paginationList {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .paginationListItem {
    margin: 0 5px;
    font-size: 10px;
  }
  
  .paginationButton {
    cursor: pointer;
    font-size: 10px;
    padding: 5px 10px;
    background-color: #4ECDC4;
    color: #fff;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.3);
  }
  
  .paginationButton:disabled {
    background-color: #95a5a6;
    cursor: not-allowed;
  }
  
  .paginationInput {
    padding-bottom: 4px;
    padding-top:8px;
    margin-right: 5px;
    border: none;
    box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.2);
    border-radius: 3px;
    outline: none;
    width: 50px;
  }
  
  .paginationError {
    color: red;
    margin: 5px 0;
    font-size: 14px;
  }
  