.cards {
  justify-self: center;
  width: 1200px;
  margin: 0;
}

.fire {
  width: 30px;
  margin-bottom: -5px;
}

.cards span {
  font-size: 24px;
  color: grey;
}

@media (max-width: 1280px) {
  .cards {
    width: 660px;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .cards {
    display: inline;
    width: 340px;
    justify-self: center;
  }

  .cards span {
    display: inline;
    font-size: 18px;
  }
}
