.header {
  display: inline-block;
  width: 500px;
}

.header img {
  width: 500px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .header {
    width: 340px;
    justify-self: center;
  }

  .header img {
    width: 340px;
  }
}
