.header {
  display: inline-block;
  justify-self: center;
  width: 800px;
}

.header img {
  width: 800px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .header {
    width: 340px;
    justify-self: center;
  }

  .header img {
    width: 340px;
  }
}
