.navbar {
    display: grid;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    grid-template-columns: 10fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px;
    padding: 10px;
    background-color: #FFE66D;
    box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.2);
    z-index: 998;
}

.navbar button {
    display: grid;
    justify-content: center;
}

.navbar button img {
    justify-self: center;
}

.saludo{
    position: absolute;
    left: 280px;
    top: 5px;
    font-size: 12px;
}

.logout{
    display: grid;
    justify-content: center;
    font-size: 10px;
}

.logo {
    position: absolute;
    width: 200px;
    margin-top: -15px;
    left: 40px;
    z-index: 999;
}

.iconos{
    background: transparent;
    font-size: 10px;
}

@media (max-width: 768px) {
    .navbar {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 5px;
        bottom: 0;
        top: auto;
    }

    .logo {
        display: none;
    }

    .link {
        display: none;
    }

    .div {
        display: none;
    }

    .saludo {
        display: none;
    }
}