.navbar {
    display: grid;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    grid-template-columns: 10fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 10px;
    background-color: yellow;
    box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.2);
    z-index: 998;
}

.navbar button {
    display: grid;
    justify-content: center;
}

.navbar button img {
    justify-self: center;
}

.logo {
    position: fixed;
    width: 200px;
    top: 0;
    left: 40px;
    z-index: 999;
}

@media (max-width: 768px) {
    .navbar {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 5px;
        bottom: 0;
        top: auto;
    }

    .logo {
        display: none;
    }

    .div {
        display: none;
    }
}