.container {
    display: grid;
    width: 400px;
    box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.3);
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 100px;
}

.container img {
    width: 200px;
    justify-self: center;
    margin: 0px;
}

.container .buttons {
    display: grid;
}

.container .check {
    width: 15px;
    height: 15px;
    margin: 0px;
    padding: 0px;
    align-self: center;
    margin-top: 10px;
}

.container .password {
    display: grid;
}

.container h6 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-weight: 100;
    margin: 0px;
    align-self: center;
}

.container .form form {
    display: grid;
    margin-bottom: 20px;
}

.container h2 {
    color: grey;
}

.container p {
    color: grey;
}

.container input {
    border: none;
    height: 30px;
    width: 200px;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.1);
    padding-left: 10px;
    font-family: "DM Sans";
}

.container select {
    display: grid;
    width: 215px;
    border: none;
    border-radius: 5px;
    height: 32px;
    font-size: 12px;
    color: gray;
    box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.1);
    margin-top: 20px;
    justify-self: center;
    background-color: white;
    padding-left: 10px;
  }

.container span {
    display: grid;
    color: grey;
}

.container a {
    margin-top: 40px;
    color: whitesmoke;
    background-color: #4ECDC4;
    width: 100px;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
    justify-self: center;
    box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.2);
}

.container .register {
    margin-top: 10px;
    background-color: goldenrod;
    box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.2);
}

.container .title {
    font-size: 14px;
    margin-top: -20px;
    margin-bottom: -20px;
}

@media (max-width: 768px) {
    .container {
        width: 250px;
    }

    .container select {
        padding-right: 140px;
        padding-left: 0px;
    }
}