.container {
  display: grid;
  width: 400px;
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.3);
  border-radius: 10px;
  padding: 40px;
  margin-bottom: 100px;
}

.logo {
  width: 200px;
  justify-self: center;
  margin-top: -30px;
}

.imgUser {
  width: 60px;
  height: 60px;
  margin-top: 10px;
  justify-self: center;
}

.imagePreview {
  display: grid;
  grid-template-columns: 1fr;
}
.container .buttons {
  display: grid;
}

.container .check {
  width: 15px;
  height: 15px;
  margin: 0px;
  padding: 0px;
  align-self: center;
  margin-top: 10px;
}

.container .password {
  display: grid;
}

.container h6 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-weight: 100;
  margin: 0px;
  align-self: center;
}

.container .form form {
  display: grid;
  margin-bottom: 20px;
}

.container h2 {
  color: grey;
}

.container p {
  color: grey;
}

.container input {
  border: none;
  height: 30px;
  width: 200px;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.1);
  padding-left: 10px;
  font-family: "DM Sans";
}

.fileInput {
  display: grid;
}

.fileInput input {
  display: grid;
  background-color: white;
  padding-top: 10px;
  justify-self: center;
}

.container select {
  display: grid;
  width: 215px;
  border: none;
  border-radius: 5px;
  height: 32px;
  font-size: 12px;
  color: gray;
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.1);
  margin-top: 20px;
  justify-self: center;
  background-color: white;
  padding-left: 10px;
}

.register {
  margin-top: 40px;
  color: whitesmoke;
  background-color: #4ecdc4;
  width: 100px;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px;
  justify-self: center;
  box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.2);
}

.buttonDisabled {
  background-color: #ccc;
  color: #888;
  cursor: not-allowed;
  pointer-events: none;
  border: 1px solid #ccc;
}

.container .title {
  font-size: 14px;
  margin-top: -20px;
  margin-bottom: -20px;
}

.error {
  display: grid;
  font-size: 12px;
  color: red;
}

@media (max-width: 768px) {
  .container {
    width: 250px;
  }

  .container option {
    text-align: left;
  }

  .container select {
    padding-left: 10px;
  }
}

.loaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 10px;
  margin-top: 20px;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #0000;
  border-right-color: rgba(255, 230, 109, 0.592);
  position: relative;
  animation: l24 1s infinite linear;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: -8px;
  border-radius: 50%;
  border: inherit;
  animation: inherit;
  animation-duration: 2s;
}
.loader:after {
  animation-duration: 4s;
}
@keyframes l24 {
  100% {
    transform: rotate(1turn);
  }
}
