.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #A4BCB3;
    height: 100vh;
  }
  
  .form {
    max-width: 75%;
    width: 100%;
    padding: 2rem;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 4rem;
  }
  
  .titleContainer {
    margin-bottom: 2rem;
  }
  
  .title {
    font-size: 1.5rem;
    color: #606c71;
    font-weight: 600;
  }
  
  .inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
  
  .label {
    font-size: 1rem;
    color: #606c71;
    margin-bottom: 0.5rem;
  }
  
  .input {
    border: 1px solid #606c71;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-size: 1rem;
  }
  
  .buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.75rem;
  }
  
  .button {
    width: 100%;
    max-width: 340px;
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    color: #fff;
    cursor: pointer;
    background-color: #b4a77f;
  }
  
  .button:hover {
    background-color: #9c8f68;
  }
  
  .registerLink {
    margin-top: 1.5rem;
    font-size: 0.875rem;
    color: #ffcc00;
  }